---
- name: Get stats and write to desktop
  hosts: vm
  vars:
    web_package: apache2
    apache_port: 9090
    firewall_package: ufw

  tasks:

    - name: check if python is installed
      raw: test -e /usr/bin/python3
      register: python_check
      failed_when: false
      changed_when: false

    - name: install python3
      become: yes
      become_user: root
      apt:
        name: python3
        state: present
      when: python_check.rc != 0    

    - name: check if pip is installed
      raw: test -e /usr/bin/pip3
      register: pip_check
      failed_when: false
      changed_when: false

    - name: install pip3
      become: yes
      become_user: root
      apt: 
        name: python3-pip
        state: present
      when: pip_check.rc != 0

    - name: gather package facts
      package_facts:
        manager: auto

    - name: check if numpy is installed
      debug:
        msg: "{{ ansible_facts.packages['python3-numpy'] }}"
      when: "'python3-numpy' in ansible_facts.packages"
      register: numpy_check 
      failed_when: false
      changed_when: false

    - name: install numpy
      apt:
        name: python3-numpy
        state: present
      become: yes
      become_user: root
      when: numpy_check is not defined or numpy_check.msg is not defined
